#include "keys_nb.h"
#include "zmk-helpers/helper.h"
#include <behaviors/unicode.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            require-prior-idle-ms = <120>; /* tune to taste */
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        aa_win: ae {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_2 &kp KP_NUMBER_9>,
                <&macro_release>,
                <&kp LALT>;

            label = "AE";
        };

        aa_win_shift: aa_win_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N7>,
                <&macro_release>,
                <&kp LALT>;

            label = "AA_WIN_SHIFT";
        };

        aa_osx: aa_osx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LALT>;

            label = "AA_OSX";
        };

        oe_win: oe_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;

            label = "OE_WIN";
        };

        oe_win_shift: oe_win_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;

            label = "OE_WIN_SHIFT";
        };

        aa_osx_shift: aa_osx_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LALT &kp LEFT_SHIFT>;

            label = "AA_OSX_SHIFT";
        };

        oe_osx: oe_osx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp O>,
                <&macro_release>,
                <&kp LALT>;

            label = "OE_OSX";
        };

        oe_osx_shift: oe_osx_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp O>,
                <&macro_release>,
                <&kp LALT &kp LEFT_SHIFT>;

            label = "OE_OSX_SHIFT";
        };

        ae_win: ae_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N3 &kp KP_N0>,
                <&macro_release>,
                <&kp LALT>;

            label = "AE_WIN";
        };

        ae_win_shift: ae_win_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;

            label = "AE_WIN_SHIFT";
        };

        ae_osx: ae_osx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp APOSTROPHE>,
                <&macro_release>,
                <&kp LALT>;

            label = "AE_OSX";
        };

        ae_osx_shift: ae_osx_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp APOSTROPHE>,
                <&macro_release>,
                <&kp LALT &kp LEFT_SHIFT>;

            label = "AE_OSX_SHIFT";
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <13 29>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <15 21>;
        };

        perc {
            bindings = <&kp PERCENT>;
            key-positions = <5 17>;
            layers = <0>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <28 16>;
            layers = <0>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <4 16>;
            layers = <0>;
        };

        pound {
            bindings = <&kp POUND>;
            key-positions = <3 15>;
            layers = <0>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <2 14>;
            layers = <0>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <26 14>;
            layers = <0>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <8 20>;
            layers = <0>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <32 20>;
            layers = <0>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <7 19>;
            layers = <0>;
        };

        minus {
            bindings = <&kp KP_MINUS>;
            key-positions = <31 19>;
            layers = <0>;
        };

        underscore {
            bindings = <&kp UNDER>;
            key-positions = <30 18>;
            layers = <0>;
        };

        leftbrack {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
            layers = <0>;
        };

        rightbrack {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <33 32>;
            layers = <0>;
        };

        para-less {
            bindings = <&paraless>;
            key-positions = <20 19>;
            layers = <0>;
        };

        para-great {
            bindings = <&paragreat>;
            key-positions = <20 21>;
            layers = <0>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <26 27>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <28 27>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U      &kp I         &kp O    &kp P     &kp BACKSPACE
&kp LSHFT  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J      &kp K         &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M      &kp COMMA     &kp DOT  &kp FSLH  &mo 4
                         &kp LGUI  &mo 1  &kp SPACE    &kp RET  &lt 2 TAB  &kp LEFT_ALT
            >;
        };

        NAV {
            display-name = "NavNum";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans          &trans    &kp UP_ARROW    &trans     &trans       &trans           &kp N6   &kp N7  &kp N8  &kp N9  &kp N0  &trans
&caps_word      &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &browsertab  &kp PAGE_UP      &kp N0   &kp N4  &kp N5  &kp N6  &trans  &trans
&kp LEFT_SHIFT  &trans    &trans          &trans     &trans       &kp PAGE_DOWN    &trans   &kp N1  &kp N2  &kp N3  &trans  &trans
                                          &kp LGUI   &trans       &kp SPACE        &kp RET  &mo 3   &trans
            >;
        };

        SYM {
            display-name = "Symbols";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL  &kp AT          &kp HASH        &kp DLLR         &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK      &kp LEFT_PARENTHESIS  &kp RPAR  &trans
&trans  &trans    &trans          &kp UP_ARROW    &trans           &kp GRAVE    &kp MINUS  &kp EQUAL  &kp LBKT       &kp RBKT              &kp BSLH  &trans
&trans  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp TILDE    &kp UNDER  &kp PLUS   &kp LBRC       &kp RBRC              &kp PIPE  &trans
                                  &kp LGUI        &mo 3            &kp SPACE    &kp RET    &trans     &kp RIGHT_ALT
            >;
        };

        ADJ {
            display-name = "System";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4      &kp F5            &kp F6  &kp F7  &kp F8  &kp F9  &kp F10      &trans
&trans  &kp F11       &kp F12       &trans        &trans      &studio_unlock    &trans  &trans  &trans  &trans  &trans       &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &bt BT_CLR_ALL    &trans  &trans  &trans  &trans  &bootloader  &trans
                                    &trans        &trans      &trans            &trans  &trans  &trans
            >;
        };

        EXTRA {
            display-name = "Extra";
            bindings = <
&kp NB_AE       &trans  &trans          &trans          &trans           &msc SCRL_UP      &trans  &trans     &trans     &trans  &trans  &trans
&kp NB_O_SLASH  &trans  &trans          &mmv MOVE_UP    &trans           &msc SCRL_DOWN    &trans  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans
&kp NB_A_RING   &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans            &trans  &trans     &trans     &trans  &trans  &trans
                                        &trans          &trans           &trans            &trans  &trans     &trans
            >;
        };

        NOR {
            bindings = <
&aa_win_shift  &oe_win_shift  &ae_win_shift  &trans  &aa_osx_shift  &aa_osx    &trans  &trans  &trans  &trans  &trans  &trans
&aa_win        &oe_win        &ae_win        &trans  &oe_osx_shift  &oe_osx    &trans  &trans  &trans  &trans  &trans  &trans
&trans         &trans         &trans         &trans  &ae_osx_shift  &ae_osx    &trans  &trans  &trans  &trans  &trans  &trans
                                             &trans  &trans         &trans     &trans  &trans  &trans
            >;

            label = "NOR";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        uuh {
            if-layers = <4 2>;
            then-layer = <5>;
        };
    };
};
